<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns:context="http://www.springframework.org/schema/context"
        xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

        <context:component-scan base-package="org.semen.spring"/>
        <context:property-placeholder location="musicPlayer.properties"/>
</beans>
<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--    <bean id="musicBean"-->
<!--          class="org.semen.spring.ClassicalMusic"-->
<!--            init-method="doMyInit"-->
<!--            destroy-method="doMyDestroy"-->
<!--            factory-method="getClassicalMusic">&lt;!&ndash; Говорим спрингу что обьект создаем через getClassicalMusic-->
<!--            по умолчанию singleton поэтому обьект создасца 1 раз&ndash;&gt;-->
<!--    </bean>-->

<!--&lt;!&ndash;    <bean id="musicPlayer"&ndash;&gt;-->
<!--&lt;!&ndash;          class="org.semen.spring.MusicPlayer">&ndash;&gt;-->
<!--&lt;!&ndash;    <property name="music" ref="musicBean"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <property name="name" value="${musicPlayer.name}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    <property name="volume" value="${musicPlayer.volume}"/>&ndash;&gt;-->
<!--&lt;!&ndash;    </bean>&ndash;&gt;-->

<!--</beans>-->


        <!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

        <!--    <bean id="musicBean"-->
        <!--              class="org.semen.spring.RockMusic">-->
        <!--    </bean>-->

        <!--        <bean id="musicPlayer"-->
        <!--          class="org.semen.spring.MusicPlayer">-->
        <!--        <property name="music" ref="musicBean"/>-->
        <!--            <property name="name" value="${musicPlayer.name}"/>-->
        <!--            <property name="volume" value="${musicPlayer.volume}"/>-->
        <!--        </bean>-->

        <!--</beans>-->



<!--    <context:property-placeholder location="classpath:musicPlayer.properties"/>-->

            <!--    <bean id="musicBean1"-->
            <!--          class="org.semen.spring.ClassicalMusic">-->
            <!--&lt;!&ndash;        <constructor-arg value="Neil"/>&ndash;&gt;-->
            <!--    </bean>-->

            <!--    <bean id="musicBean2"-->
            <!--          class="org.semen.spring.RockMusic">-->
            <!--    </bean>-->

            <!--    <bean id="musicBean3"-->
            <!--          class="org.semen.spring.PopMusic">-->
            <!--    </bean>-->


            <!--        <property name="name" value="Som name"/>-->
<!--        <property name="volume" value="50"/>-->

<!--    <bean id="musicPlayer"-->
<!--          class="org.semen.spring.MusicPlayer">-->
<!--        <property name="musicList">-->
<!--            <list>-->
<!--                <ref bean="musicBean1"/>-->
<!--                <ref bean="musicBean2"/>-->
<!--                <ref bean="musicBean3"/>-->
<!--            </list>-->
<!--        </property>-->

<!--        <property name="name" value="${musicPlayer.name}"/> &lt;!&ndash; Подставляем значение из файла musicPlayer.properties-->
<!--        с помощью 10 строчки &ndash;&gt;-->
<!--        <property name="volume" value="${musicPlayer.volume}"/>-->
<!--            </bean>-->

<!--        </beans>-->



<!--<context:property-placeholder location="classpath:musicPlayer.properties"/>-->

<!--<bean id="musicBean"-->
<!--      class="org.semen.spring.RockMusic">-->
<!--</bean>-->

<!--<bean id="musicPlayer"-->
<!--      class="org.semen.spring.MusicPlayer"-->
<!--      scope="prototype"> &lt;!&ndash; по умолчанию scope singleton(ссылка на один неизменяемый обьект), prototype ссылки-->
<!--             на разные обьекты  изменять по необходимости&ndash;&gt;-->
<!--&lt;!&ndash;        <constructor-arg ref="musicBean"/> &lt;!&ndash; Передача зависимостей спрингу через ссылку&ndash;&gt;&ndash;&gt;-->
<!--<property name="music" ref="musicBean"/>-->
<!--<property name="name" value="${musicPlayer.name}"/> &lt;!&ndash; Подставляем значение из файла musicPlayer.properties-->
<!--        с помощью 10 строчки &ndash;&gt;-->
<!--<property name="volume" value="${musicPlayer.volume}"/>-->
<!--</bean>-->

<!--        </beans>-->